* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-mario {
    height: 200px;
}

button {
    color: white;
    background-color: #C51111;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.logo-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 100px;
}

.caixa-principal {
    width: 50%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}